{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriechaine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieChaine.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieChaine.nom }}</td>
            </tr>
            <tr>
                <th>Nomeng</th>
                <td>{{ categorieChaine.nomEng }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriechaine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categoriechaine_edit', { 'id': categorieChaine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
