{% extends '@App\\index.html.twig' %}
{% block pageName %}
    <h3 class="page-header"><i class="fa fa fa-bars"></i>
        Utilisateur
    </h3>
{% endblock %}

{% block panelHeading %}
Changer le mot de passe
{% endblock %}
 {% block content %}

{% trans_default_domain 'FOSUserBundle' %}
  <div class="form-horizontal">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3 col-xs-3 col-sm-3">Mot de passe actuel</label>
                    <div class=" input-group col-md-6 col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    {{ form_widget(form.current_password,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                    <span class="help-block">
             {{ form_errors(form.current_password) }} </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-lg-3 col-xs-3 col-sm-3">Nouveau mot de passe</label>
                    <div class=" input-group col-md-6 col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    {{ form_widget(form.plainPassword.first,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                    <span class="help-block">
         {{ form_errors(form.plainPassword.first) }} </span>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-md-3 col-lg-3 col-xs-3 col-sm-3">Confirmation mot de passe</label>
                    <div class="input-group col-md-6 col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    {{ form_widget(form.plainPassword.second,{ 'attr': {'required': 'required', 'class':'form-control'} }) }}
                    <span class="help-block">
         {{ form_errors(form.plainPassword.second) }} </span>
                    </div>
                </div>
    <div class=" form-group ">
        <div class="  col-lg-offset-3">

        <input class="btn btn-success btn-lg btn-rect" type="submit" value="{{ 'change_password.submit'|trans }}" />
        <input class="btn btn-default btn-lg btn-rect" type="reset" value="Annuler la saisie" />
        </div>
    </div>
{{ form_end(form) }}
                </div>

     {% endblock %}